* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box*/
}

:root {
  --text-color: white;
  --bg-url: url(./assets/assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5); /*Cor da Borda*/
  --surface-color: rgba(255, 255, 255, 0.1);/*Cor do Background*/
  --surface-color-hover: rgba(0, 0, 0, 0.02);/*Cor do Background-Hover*/
  --highlight-color: rgba(255, 255, 255, 0.2);/*Cor do Background-Hover-Social-Links*/
  --switch-bg-url: url(./assets/assets/moon-stars.svg);/*Icone Light-Mode Dork-Mode*/
}

.light {
  --text-color: black;
  --bg-url: url(./assets/assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);/*Cor do Background-Hover-Social-Links*/
  --switch-bg-url: url(./assets/assets/sun.svg);/*Icone Light-Mode Dark-Mode*/
}

body { 
  /*Short hand ou Atalho:*/
  /* background-image: url(./assets/assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */
  /*background: color image repeat position/size */
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: 'inter', sans-serif;
  color: var(--text-color);
}

#container {
  width: 95%;
  max-width: 588px;
  /*height: 712px;*/
  /*
  margin-top: 56px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  */
  margin: 56px auto 0px auto;
}

#profile {
  text-align: center;
}

#profile img {
  /*display: block;*/
  width: 112px;
  margin: auto;
  padding: 24px 0px 24px;
}

#profile a {
  text-decoration-line: none;
  font-weight: 500;
  line-height: 24px;
  padding: 0px 2px 0px;
  transition: all 0.2s;
}

#profile a:hover {
  color: var(--stroke-color);
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*padding: 24px 0px 0px;*/
}

#switch {
  /*border: 1px solid blue;*/
  position: relative;
  width: 66px;
  height: 24px;
  margin: 8px auto;
  /*padding: 2px;*/
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  /*Alinhar o Botão*/
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*Links - Lista*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

/*ul li {
  border: 1px solid blue;
}*/

ul li a {
  
  /*border: 1px solid blue;*/

  display: flex;
  justify-content: center;/*Alinhamento Horizontal*/
  align-items: center;/*Vertical*/
  padding: 16px 24px;/*Espaçamento Vertical*/
  background: var(--surface-color);
  border-radius: 8px;/*Arredondamento de Bordas*/
  backdrop-filter: blur(4px);/*Embaçar*/
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;/*Tirar Linha Da Lista*/
  font-weight: 500;
  transition: background 0.4s;
}

/*Pseudo-Selector*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.2px solid var(--stroke-color);
}

#social-links {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  padding: 24px 0 36px;
  gap: 5px; /*Espaçamento Horizontal*/
  font-size: 26px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background 0.4s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
  /*border-radius: 50%;*/
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
